@charset "ISO-8859-1";
.mm{
	height: 100px;
	width: 1535px;
	background-color: orange;
	color: white;
	position: relative;
	bottom: 22px;
}
.gg{
	height: 25px;
	width: 750px;
	background-color: #00ff40;
}
.hh{
	height: 25px;
	width: 750px;
	background-color: #00ff40;
	position: relative;
	bottom: 16px;
}
#ll{
	color: white;
	font-size: 17px;
	text-align: left;
}
#kk{
	color: white;
	font-size: 17px;
	text-align: left;
}
.gh{
	position: relative;
	bottom: 10px;
}
.pp{
	margin-left: 30%;
	margin-right: 30%;
	background-color: #0080ff;
	padding: 0.5%;
	color: white;
}
.tt{
	border: 2px solid #0080ff;
	width: 40%;
	padding: 5px;
}
.tt td,th{
	border: 0.8px solid #c0c0c0;
	text-align: left;
	padding: 3px;
}
.dd{
	width: 50%;
	padding: 5px;
	position: relative;
	top: 25px;
	color: white;
}
.dd td,th{
	text-align: left;
	padding: 3px;
}
.cc{
	background-color: #24221c;
	color: #c0c0c0;
	position: relative;
	top: 40px;
	font-size: 13px
}